services:
  web:
    build: ./client
    env_file:
      - ./client/.env
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NEXT_WEBPACK_USEPOLLING=true
    volumes:
      - ./client:/app
      - /app/node_modules
    develop:
      watch:
        - path: ./client
          action: sync
          target: /app
          ignore:
            - node_modules/
            - .git/
        - path: ./client/Dockerfile
          action: rebuild
        - path: ./client/package.json
          action: rebuild
        - path: ./client/pnpm-lock.yaml
          action: rebuild