services:
  web:
    build: ./client
    env_file:
      - ./client/.env
    ports:
      - "5173:5173"
    develop:
      watch:
        - path: ./client
          target: /app
          action: sync
          ignore:
            - node_modules/
            - .git/
            - .next/
        - path: ./client/package.json
          action: rebuild
        - path: ./client/pnpm-lock.yaml
          action: rebuild
        - path: ./client/Dockerfile
          action: rebuild