@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-main: var(--font-montserrat);
}

@theme {
    --color-vivid-pink-50: oklch(0.8522 0.0253 355.43);
    --color-vivid-pink-100: oklch(0.8183 0.0527 356.85);
    --color-vivid-pink-200: oklch(0.7542 0.1107 357.89);
    --color-vivid-pink-300: oklch(0.7055 0.1654 0.96);
    --color-vivid-pink-400: oklch(0.6679 0.2132 4.17);
    --color-vivid-pink-500: oklch(0.6515 0.2443 8.97);
    --color-vivid-pink-600: oklch(0.5521 0.2056 8.39);
    --color-vivid-pink-700: oklch(0.4484 0.1641 8.11);
    --color-vivid-pink-800: oklch(0.3382 0.1204 6.69);

    --color-white-50: oklch(0.8948 0.0014 286.37);
    --color-white-100: oklch(0.9037 0 0);
    --color-white-200: oklch(0.9181 0.0011 197.14);
    --color-white-300: oklch(0.9346 0.0027 286.35);
    --color-white-400: oklch(0.9489 0.0029 264.54);
    --color-white-500: oklch(0.967 0.0029 264.54);
    --color-white-600: oklch(0.817 0.003 264.54);
    --color-white-700: oklch(0.6606 0.0029 286.32);
    --color-white-800: oklch(0.4953 0.0013 197.12);

    --color-black-50: oklch(0.8222 0.0026 345.23);
    --color-black-100: oklch(0.7576 0.0048 0.04);
    --color-black-200: oklch(0.6201 0.0089 357.97);
    --color-black-300: oklch(0.4795 0.0155 353.66);
    --color-black-400: oklch(0.3227 0.0219 355.02);
    --color-black-500: oklch(0.1512 0.0359 359.08);
    --color-black-600: oklch(0.137 0.0309 355.39);
    --color-black-700: oklch(0.1239 0.0277 353.19);
    --color-black-800: oklch(0.1062 0.0223 357.28);

    --color-lime-green-50: oklch(0.877 0.0237 131.17);
    --color-lime-green-100: oklch(0.867 0.0469 130.26);
    --color-lime-green-200: oklch(0.85 0.0944 131.17);
    --color-lime-green-300: oklch(0.8363 0.1376 131.82);
    --color-lime-green-400: oklch(0.8242 0.1772 132.83);
    --color-lime-green-500: oklch(0.8154 0.2081 133.92);
    --color-lime-green-600: oklch(0.6918 0.175 133.87);
    --color-lime-green-700: oklch(0.5599 0.1388 133.64);
    --color-lime-green-800: oklch(0.4224 0.1013 133.45);

    --spacing-0: 0px;
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-350: 28px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;

    --text-300: var(--spacing-300);
}

@layer base {
    h1 {
        @apply text-[48px] leading-[52px] lg:text-[64px] lg:leading-[52px];
    }

    h2 {
        @apply text-[40px] leading-[44px] lg:text-[48px] lg:leading-[52px];
    }

    h3 {
        @apply text-[32px] leading-[36px] lg:text-[40px] lg:leading-[44px];
    }

    h4 {
        @apply text-[28px] leading-[32px] lg:text-[32px] lg:leading-[36px];
    }

    h5 {
        @apply text-[24px] leading-[28px];
    }

    h6 {
        @apply text-[20px] leading-[24px];
    }
}

@layer components {
    .paragraph-lg {
        @apply text-[20px] leading-[24px];
    }

    .paragraph-md {
        @apply text-[16px] leading-[20px];
    }

    .paragraph-sm {
        @apply text-[12px] leading-[16px];
    }

    .paragraph-xs {
        @apply text-[10px] leading-[12px];
    }

    .nft-background {
        background-image: linear-gradient(
            to bottom,
            var(--color-white-500) 64%,
            var(--color-lime-green-200) 100%
        );
        background-repeat: no-repeat; 
    }

    .dark .nft-background {
        background-image: linear-gradient(
            to bottom,
            var(--color-black-800) 68%,
            var(--color-lime-green-700) 100%
        );
        background-repeat: no-repeat;
    }

    .product-background {
        background-image: linear-gradient(
            to bottom,
            var(--color-white-500) 64%,
            var(--color-vivid-pink-200) 100%
        );
        background-repeat: no-repeat;
    }

    .dark .product-background {
        background-image: linear-gradient(
            to bottom,
            var(--color-black-800) 52%,
            var(--color-vivid-pink-800) 100%
        );
        background-repeat: no-repeat;
    }

    .navbar {
        @apply flex justify-between items-center mx-[var(--spacing-500)] mt-[var(--spacing-500)] mb-[var(--spacing-500)];
    }

    .links {
        @apply flex text-300 justify-around items-center gap-[var(--spacing-300)] text-black-500 font-medium;
    }

    .connect-btn {
        @apply flex justify-around items-center gap-[var(--spacing-200)];
    }

    .connect-wallet-btn-gradient {
        position: relative;
        overflow: hidden;
        background: linear-gradient(270deg, #87DE3C, #FF2670);
        background-size: 400% 400%;
        color: white;
        border: none;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
        animation: gradientShift 4s ease infinite;
    }

    .connect-wallet-btn-gradient:hover {
        transform: scale(1.05);
    }

    @keyframes gradientShift {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}