@import "tailwindcss";

@theme inline {
    --font-main: var(--font-montserrat);
}

@theme {
    --color-vivid-pink-50: oklch(0.8522 0.0253 355.43);
    --color-vivid-pink-100: oklch(0.8183 0.0527 356.85);
    --color-vivid-pink-200: oklch(0.7542 0.1107 357.89);
    --color-vivid-pink-300: oklch(0.7055 0.1654 0.96);
    --color-vivid-pink-400: oklch(0.6679 0.2132 4.17);
    --color-vivid-pink-500: oklch(0.6515 0.2443 8.97);
    --color-vivid-pink-600: oklch(0.5521 0.2056 8.39);
    --color-vivid-pink-700: oklch(0.4484 0.1641 8.11);
    --color-vivid-pink-800: oklch(0.3382 0.1204 6.69);

    --color-white-50: oklch(0.8948 0.0014 286.37);
    --color-white-100: oklch(0.9037 0 0);
    --color-white-200: oklch(0.9181 0.0011 197.14);
    --color-white-300: oklch(0.9346 0.0027 286.35);
    --color-white-400: oklch(0.9489 0.0029 264.54);
    --color-white-500: oklch(0.967 0.0029 264.54);
    --color-white-600: oklch(0.817 0.003 264.54);
    --color-white-700: oklch(0.6606 0.0029 286.32);
    --color-white-800: oklch(0.4953 0.0013 197.12);

    --color-black-50: oklch(0.8222 0.0026 345.23);
    --color-black-100: oklch(0.7576 0.0048 0.04);
    --color-black-200: oklch(0.6201 0.0089 357.97);
    --color-black-300: oklch(0.4795 0.0155 353.66);
    --color-black-400: oklch(0.3227 0.0219 355.02);
    --color-black-500: oklch(0.1512 0.0359 359.08);
    --color-black-600: oklch(0.137 0.0309 355.39);
    --color-black-700: oklch(0.1239 0.0277 353.19);
    --color-black-800: oklch(0.1062 0.0223 357.28);

    --color-lime-green-50: oklch(0.877 0.0237 131.17);
    --color-lime-green-100: oklch(0.867 0.0469 130.26);
    --color-lime-green-200: oklch(0.85 0.0944 131.17);
    --color-lime-green-300: oklch(0.8363 0.1376 131.82)
    --color-lime-green-400: oklch(0.8242 0.1772 132.83);
    --color-lime-green-500: oklch(0.8154 0.2081 133.92);
    --color-lime-green-600: oklch(0.6918 0.175 133.87);
    --color-lime-green-700: oklch(0.5599 0.1388 133.64);
    --color-lime-green-800: oklch(0.4224 0.1013 133.45);
}